.SideBar {
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    width: var(--sidebar-width); 

    position: relative;
    transition: width .3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    button {
        margin-bottom: 1rem;
    }
}