.dark {
    --bg-color: #060629;
    --inverted-bg-color: #474a5f;
    
    --primary-color: rgb(49, 211, 0);
    --secondary-color: rgb(118, 255, 100);
    --inverted-primary-color: rgb(15, 15, 255);
    --inverted-secondary-color: rgb(84, 84, 255);
}