.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    
    
    --primary-color: rgb(15, 15, 255);
    --secondary-color: rgb(84, 84, 255);
    --inverted-primary-color: rgb(49, 211, 0);
    --inverted-secondary-color: rgb(118, 255, 100);
}