.navbar {
    padding: 1rem;
    width: 100vw;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    // justify-content: end;

    background-color: var(--inverted-bg-color);
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 1rem;
}